<h2>Ordenes de venta</h2>

<ul>
    <div class="order" *ngFor="let order of ordersObservable | async">
        <h3>{{order.customer}} <small>{{order.date}}</small></h3>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of order.products">
              <th scope="row">{{product.title}}</th>
              <td>{{product.quantity}}</td>
              <td>{{product.price}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
    </div>
</ul>