<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Yutesa ERP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="productos" routerLinkActive="active">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ordenes" routerLinkActive="active">Ordenes</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Crear</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="productos/nuevo">Crear Producto</a>
            <a class="dropdown-item" routerLink="ordenes/nuevo">Crear Orden</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>